In [1]:
first="Joy"
second="Achieng"

In [7]:
first+" "+second

'Joy Achieng'

In [9]:
first*3

'JoyJoyJoy'

In [11]:
second*5

'AchiengAchiengAchiengAchiengAchieng'

In [17]:
first*3+ second*2

'JoyJoyJoyAchiengAchieng'

In [19]:
x="hellow world"

In [39]:
x [4]

'o'

In [29]:
second="achieng"

In [31]:
second[0]

'a'

In [41]:
second[3]

'i'

In [53]:
fullname=first+" "+second
fullname

'Joy achieng'

fullname[0.6]

In [57]:
fullname="josephine achieng"
fullname[0:9]

'josephine'

name=input("Enterfirst name")

In [60]:
name=input("Enter first name")

Enter first name joy

In [62]:
print(name)

joy

In [70]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [74]:
for oy in fullname:
    print(oy)

j
o
s
e
p
h
i
n
e

a
c
h
i
e
n
g

In [86]:
for h in range(0,20,5):
    print(h)

0
5
10
15

In [88]:
for n in range(0,100,10):
    print(n)

0
10
20
30
40
50
60
70
80
90

In [11]:
#1,2,3,4,5,6,7,8,9,10
total=0

for y in range(1,11):
    total+=y
    print(y,end=",")
    
    print('\n',total)

1,
 1
2,
 3
3,
 6
4,
 10
5,
 15
6,
 21
7,
 28
8,
 36
9,
 45
10,
 55

In [13]:
total =0
for x in range(1,11):
    total = total + x
    print(x , end =",")
print(total)

1,2,3,4,5,6,7,8,9,10,55

In [15]:
x=int(input("Enter age"))
y=int(input("Enter Age"))
z=int(input("Enter age"))
xy=int(input("Enter age")) 
total=x+y+z+xy
average=total/4

print(total,average)

Enter age 56
Enter Age 78
Enter age 45
Enter age 34

213 53.25

In [29]:
total=0
for x in range(4):
    x=int(input("Enter Age"))
    total +=x
    print (x)

print('\n', total,total/4)

Enter Age 10
Enter Age 12
Enter Age 34
Enter Age 23

 79 19.75

 #2,4,6,8,10
 for x in range(2,11,2):
 print(x,end=",")

In [42]:
total=0
for y in range(5):
    y=int(input ("Enter score"))
    total=total+y
    average=total/5


print(total,average)

Enter score 4
Enter score 4
Enter score 3
Enter score 4
Enter score 3

18 3.6

In [48]:
count=0
total=0
while count <4:
    x=int(input("Enter Age"))
    total +=x
    count +=1

print(total/count)

Enter Age 2
Enter Age 3
Enter Age 8
Enter Age 1

3.5

In [11]:
score=30
if score>=80:
    print("A")
elif score>=80:
    print("B")
elif score>=70:
    print("C")
elif score>=60:
    print("D")
else:
    print("E")

E

In [85]:
check=True
while check:
    name= input("Name")
    if"joy" in name:
        check=False

Name kil
Name kil
Name jpy
Name jpy
Name joy

In [13]:
check=True
while check:
    name=input("Name")
    if"Lida" in name or 'lida' in name:
        check = False

Name bram
Name Geli
Name joy
Name lida

In [ ]:
def family():
    print("family